.selection-page {
  background-color: #1a1818;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.selection-page .div {
  background-color: #1a1818;
  height: 2260px;
  position: relative;
  width: 1440px;
}

.selection-page .s-m {
  height: 44px;
  left: 1260px;
  position: absolute;
  top: 88px;
  width: 64px;
  background-image: url("./s-m.png");
}

.selection-page .text-wrapper {
  color: #ffffff;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 67.8px;
  font-weight: 600;
  left: 428px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 136px;
  white-space: nowrap;
}

.selection-page .text-wrapper-2 {
  color: #ffffff;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 27.6px;
  font-weight: 600;
  left: 428px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 83px;
  white-space: nowrap;
}

.selection-page .text-wrapper-3 {
  color: #ffffff;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 27.6px;
  font-weight: 600;
  left: -35px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 103px;
  white-space: nowrap;
}

.selection-page .overlap {
  background-color: #8371fa;
  border-radius: 41.83px;
  box-shadow: 13px 13px 10.2px #00000040;
  height: 214px;
  left: 413px;
  position: absolute;
  top: 275px;
  width: 939px;
}

.selection-page .text-wrapper-4 {
  color: #ffffff;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 38.4px;
  font-weight: 600;
  left: 40px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 27px;
  white-space: nowrap;
  width: 130px;
}

.selection-page .image {
  height: 144px;
  left: 710px;
  object-fit: cover;
  position: absolute;
  top: 32px;
  width: 157px;
  background-image:url("./image.png");
}

.selection-page .overlap-group {
  background-color: #ffffff;
  border-radius: 23.85px;
  box-shadow: 0px 4px 4px #00000040;
  height: 53px;
  left: 59px;
  position: absolute;
  top: 135px;
  width: 136px;
}

.selection-page .text-wrapper-5 {
  color: #1a1818;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 24.6px;
  font-weight: 600;
  left: 53px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 16px;
  white-space: nowrap;
  width: 60px;
}

.selection-page .vector {
  height: 25px;
  left: 25px;
  position: absolute;
  top: 14px;
  width: 18px;
  background-image: url("./vector.png");
}

.selection-page .overlap-2 {
  background-color: #8371fa;
  border-radius: 41.83px;
  box-shadow: 13px 13px 10.2px #00000040;
  height: 214px;
  left: 413px;
  position: absolute;
  top: 543px;
  width: 939px;
}

.selection-page .overlap-3 {
  background-color: #8371fa;
  border-radius: 41.83px;
  box-shadow: 13px 13px 10.2px #00000040;
  height: 214px;
  left: 413px;
  position: absolute;
  top: 811px;
  width: 939px;
}

.selection-page .overlap-group-2 {
  background-color: #8371fa;
  border-radius: 41.83px;
  box-shadow: 13px 13px 10.2px #00000040;
  height: 214px;
  left: 413px;
  position: absolute;
  top: 1079px;
  width: 939px;
}

.selection-page .overlap-4 {
  background-color: #8371fa;
  border-radius: 41.83px;
  box-shadow: 13px 13px 10.2px #00000040;
  height: 214px;
  left: 414px;
  position: absolute;
  top: 1347px;
  width: 939px;
}

.selection-page .overlap-5 {
  background-color: #8371fa;
  border-radius: 41.83px;
  box-shadow: 13px 13px 10.2px #00000040;
  height: 214px;
  left: 414px;
  position: absolute;
  top: 1616px;
  width: 939px;
}

.selection-page .overlap-6 {
  background-color: #8371fa;
  border-radius: 41.83px;
  box-shadow: 13px 13px 10.2px #00000040;
  height: 214px;
  left: 414px;
  position: absolute;
  top: 1884px;
  width: 939px;
}

.selection-page .male-user {
  height: 108px;
  left: -180px;
  position: absolute;
  top: 61px;
  width: 108px;
  background-image: url("./male-user.png");
}

.selection-page .line {
  height: 2260px;
  left: 160px;
  position: absolute;
  top: 0;
  width: 9px;
  background-image: url("./line-2.svg");
}

.selection-page .img {
  height: 9px;
  left: -200px;
  position: absolute;
  top: 208px;
  width: 300px;
  background-image: url("./line-3.svg");
}

.selection-page .customer-wrapper {
  background-image: url(./cust.png);
  background-size: 100% 100%;
  height: 48px;
  left: -150px;
  position: absolute;
  top: 278px;
  width: 48px;
}

.selection-page .customer {
  height: 48px;
  left: 0;
  position: absolute;
  top: 0;
  width: 48px;
}

.selection-page .book-wrapper {
  background-image: url(./book.png);
  background-size: 100% 100%;
  height: 48px;
  left: -150px;
  position: absolute;
  top: 479px;
  width: 53px;
}

.selection-page .book {
  height: 48px;
  left: 0;
  position: absolute;
  top: 0;
  width: 53px;
}

.selection-page .barbell-wrapper {
  background-image: url(./barbell.png);
  background-size: 100% 100%;
  height: 67px;
  left: -160px;
  position: absolute;
  top: 370px;
  width: 76px;
}

.selection-page .barbell {
  height: 67px;
  left: 0;
  position: absolute;
  top: 0;
  width: 76px;
}

.selection-page .overlap-7 {
  height: 18px;
  left: -60px;
  position: absolute;
  top: 294px;
  width: 88px;
}

.selection-page .text-wrapper-6 {
  color: #ffffff;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 28.1px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 88px;
}

.selection-page .overlap-8 {
  height: 17px;
  left: -60px;
  position: absolute;
  top: 395px;
  width: 179px;
}

.selection-page .text-wrapper-7 {
  color: #ffffff;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 28.1px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 179px;
}

.selection-page .overlap-9 {
  height: 18px;
  left: -60px;
  position: absolute;
  top: 495px;
  width: 83px;
}

.selection-page .text-wrapper-8 {
  color: #ffffff;
  font-family: "Inter-SemiBold", Helvetica;
  font-size: 28.1px;
  font-weight: 600;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 83px;
}