.desktop {
    background-color: #fb9696;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    
  }
  
  .desktop .overlap-wrapper {
    background-color: #fb9696;
    height: 1024px;
    overflow: hidden;
    width: 1440px;
  }
  
  .desktop .overlap {
    height: 521px;
    left: 53px;
    position: relative;
    top: 183px;
    width: 1398px;
  }
  
  .desktop .group {
    height: 132px;
    left: 660px;
    position: absolute;
    top: 450px;
    width: 440px;
    padding-top: 50px;
  }
  
  .desktop .overlap-group {
    background-color: #1a1717;
    border-radius: 117.86px;
    height: 132px;
    position: relative;
    width: 438px;
    
  }
  
  .desktop .text-wrapper {
    color: #fe0d0d;
    font-family: "Port Lligat Sans-Regular", Helvetica;
    font-size: 50px;
    font-weight: 450;
    height: 128px;
    left: 11px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 35px;
    width: 428px;
  }
  
  .desktop .div {
    height: 455px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1398px;
  }
  
  .desktop .image {
    height: 800px;
    right: 800px;
    mix-blend-mode: darken;
    position: absolute;
    top: 0;
    width: 800px;
    background-image: url(./bicep.png);
    background-repeat: no-repeat;
    background-size: cover;

  }
  
  .desktop .p {
    color: #000000;
    font-family: "Inika-Regular", Helvetica;
    font-size: 58.8px;
    font-weight: 400;
    left: 382px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 67px;
    width: 1016px;
    padding-top: 50px;
  }
  
  .desktop .text-wrapper-2 {
    color: #000000;
    font-family: "Inika-Regular", Helvetica;
    font-size: 58.8px;
    font-weight: 400;
    left: 422px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 197px;
    
    

  }