.tricep-pushdowns {
    background-color: #d3c2c2;
    height: 1024px;
    position: relative;
    width: 1440px;
  }
  
  .tricep-pushdowns .group {
    height: 101px;
    left: 98px;
    position: absolute;
    top: 803px;
    width: 517px;
  }
  
  .tricep-pushdowns .overlap-group {
    background-color: #d9d9d9;
    border-radius: 100px;
    height: 101px;
    position: relative;
    width: 515px;
  }
  
  .tricep-pushdowns .text-wrapper {
    color: #ba1313;
    font-family: "Port Lligat Sans-Regular", Helvetica;
    font-size: 54px;
    font-weight: 400;
    height: 79px;
    left: 34px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 8px;
    width: 441px;
  }
  
  .tricep-pushdowns .div {
    background-color: #d9d9d9;
    border-radius: 50px;
    height: 935px;
    left: 657px;
    position: absolute;
    top: 44px;
    width: 760px;
  }
  
  .tricep-pushdowns .image {
    height: 536px;
    left: 28px;
    object-fit: cover;
    position: absolute;
    top: 103px;
    width: 604px;
  }